@import url(./root.css);
@media (max-width:700px){
    :root{
        --pad1:2em;
        --pad2:1em;
        --fs2:1em;
    }
    .pages{
        padding: 0;
    }
    .container{
        padding: 3em;
        border-radius: 0;
    }
    nav{
        /* display: none; */
        transition: ease-in-out .5s;
        left: -100%;
        top:8%;
    }
    nav>ul{
        /* padding: 1em; */
        flex-direction: column;
    }
    .intro{
        /* padding: 1em; */
        border-radius: 0;
        width: 100%;
        text-align: center;
        right: 0;
        top: auto;
    }
    .bar-container{
        display:block;
    }
    .user_img{
        display: none;
    }
    .user-img-mobile::before{
        content: "";
        position: absolute;
        background-image: url(../img/img1.jpeg);
        height: 100%;
        width: 100%;
        /* top:-20px; */
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center 60px;
        z-index: -1;
        opacity:40%;
    }
    .download-btn{
        width: fit-content;
        height: fit-content;
        float: none;
        padding: .5em;
    }
}