@import url(./root.css);
#page3{
    color: var(--fc1);
    background-color:#000000;
    padding:5em;
    font-size: var(--fs2);
}
#proj{
    /* border: red solid; */
    width: 100%;
    overflow-x: auto;
}